﻿
@{
    ViewBag.Title = "Page Not Found";
    Layout = "~/Views/Shared/NotfoundLayout.cshtml";
}
<div id="positions-page">
    <div class="content">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 style="text-align:center">404</h1>
                    <h3 style="text-align:center">Page not found</h3>
                </div>
            </div>
        </div>
    </div>
</div>
