﻿@model IEnumerable<AtaTask.Entities.DTO.EmployeeDto>
<table class="table table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Passport</th>
            <th>Position</th>
            <th>Birth Date</th>
            <th>Gender</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int no = 1;
            foreach (var item in Model)
            {
        <tr data-id="@item.Employee.Id">
            <td>@(no++)</td>
            <td>@item.Employee.Name</td>
            <td>@item.Employee.Surname</td>
            <td>@item.Employee.Passport</td>
            <td>@item.Employee.Position.PositionName</td>
            <td>@item.Employee.BirthDate.ToShortDateString()</td>
            <td>@item.GenderText</td>
            <td>@Html.Partial("_ActionsMenu", item.Employee)</td>
        </tr>
            }
        }
    </tbody>
</table>

