﻿@model AtaTask.UI.Models.ViewModels.Employees.EmployeesIndex_ViewModel

<div class="box box-primary collapsed-box">
    <div class="box-header with-border">
        <h3 class="box-title">Search</h3>&nbsp;&nbsp;
        <span id="search-summary-span" class="text-danger"></span>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        @using (Html.BeginForm("Search", "Employees", FormMethod.Post, new { id = "employees-search-form", data_target_div = "employees-grid", data_search_summary = "search-summary-span" }))
        {
            @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" id="name" name="name" class="form-control">
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label>Surname</label>
                    <input type="text" id="surname" name="surname" class="form-control">
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label>Passport</label>
                    <input type="text" id="passport" name="passport" class="form-control">
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label>Birth Date</label>
                        <input type="date" id="birthDate" name="birthDate" class="form-control">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label>Gender</label>
                        @Html.DropDownList("Gender", Model.Genders, "Select gender", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label>Position</label>
                        @Html.DropDownList("PositionId", Model.Positions, "Select position", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="box-footer">
        <button id="employees-search-button" class="btn bg-black pull-right" data-target-form="employees-search-form" onclick="search(event);"><i class="fa fa-search"></i>&nbsp; Search</button>
        <button id="employees-search-clear-button" class="btn bg-olive" data-target-form="employees-search-form" onclick="search(event, true);"><i class="fa fa-trash"></i>&nbsp; Clear</button>
    </div>
</div>

