﻿@model AtaTask.UI.Models.ViewModels.Employees.EmployeeCreate_ViewModel

@{
    ViewBag.Title = Model.PageTitle;
}
<div id="positions-create">
    @Html.Partial("_Top", Model)

    @using (Html.BeginForm("Save", "Employees", FormMethod.Post, new { id = "employees-save-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Employee.Employee.Id, htmlAttributes: new { Name = "Id" })
        <div class="content">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Enter employee informations</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-horizontal">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Name</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.Employee.Employee.Name, new { Name = "Name", @class = "form-control", placeholder = "Enter employee name" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Surname</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.Employee.Employee.Surname, new { Name = "Surname", @class = "form-control", placeholder = "Enter employee surname" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Passport</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.Employee.Employee.Passport, new { Name = "Passport", @class = "form-control", placeholder = "Enter employee passport" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Birth Date</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.Employee.Employee.Name, new { Type = "date", Name = "BirthDate", @class = "form-control", Value = Model.Employee.Employee.BirthDate.ToString("yyyy-MM-dd") })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Gender</label>
                                            <div class="col-sm-9">
                                                @Html.DropDownList("Gender", Model.Genders, "Select gender", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Position</label>
                                            <div class="col-sm-9">
                                                @Html.DropDownList("PositionId", Model.Positions, "Select position", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

