﻿@model AtaTask.UI.Models.ViewModels.Employees.EmployeesIndex_ViewModel

@{
    ViewBag.Title = Model.PageTitle;
}
<div id="employees-page">
    @Html.Partial("_Top", Model)
    <div class="content">
        <div class="panel-group">
            @Html.Partial("_SearchArea")
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="employees-grid" data-role="grid">
                        @Html.Partial("_Grid", Model.Employees)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
