﻿@model AtaTask.Entities.Position
<div class="btn-group pull-right">
    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("Create",new { id = Model.Id})"><i class="fa fa-edit"></i>Edit</a></li>
        <li><a href="@Url.Action("Remove", new { id = Model.Id})" class="text-red"><i class="fa fa-remove"></i>Delete</a></li>
    </ul>
</div>
