﻿@model IEnumerable<AtaTask.Entities.Position>
<table class="table table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Position Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int no = 1;
            foreach (var item in Model)
            {
                <tr data-id="@item.Id">
                    <td>@(no++)</td>
                    <td>@item.PositionName</td>
                    <td>@Html.Partial("_ActionsMenu", item)</td>
                </tr>
            }
        }
    </tbody>
</table>

