﻿@model AtaTask.UI.Models.ViewModels.Positions.PositionsIndex_ViewModel

@{
    ViewBag.Title = Model.PageTitle;
}
<div id="positions-page">
    @Html.Partial("_Top", Model)
    <div class="content">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="positions-grid" data-role="grid">
                        @Html.Partial("_Grid", Model.Positions)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
