﻿@model AtaTask.UI.Models.ViewModels.Positions.PositionsCreate_ViewModel

@{
    ViewBag.Title = Model.PageTitle;
}
<div id="positions-create">
    @Html.Partial("_Top", Model)

    @using (Html.BeginForm("Remove", "Positions", FormMethod.Post, new { id = "positions-remove-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Position.Id, htmlAttributes: new { Name = "Id" })
        <div class="content">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Enter position informations</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-horizontal">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Position name</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.Position.PositionName, new { Name = "PositionName", @class = "form-control", disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

