﻿@model IEnumerable<AtaTask.Entities.Contract>
<table class="table table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Contract Number</th>
            <th>Contract Date</th>
            <th>Salary</th>
            <th>Department</th>
            <th>Position</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int no = 1;
            foreach (var item in Model)
            {
        <tr data-id="@item.Id">
            <td>@(no++)</td>
            <td>@item.ContractNumber</td>
            <td>@item.ContractDate.ToShortDateString()</td>
            <td>@item.Salary</td>
            <td>@item.Department</td>
            <td>@item.Position.PositionName</td>
            <td>@Html.Partial("_ActionsMenu", item)</td>
        </tr>
            }
        }
    </tbody>
</table>

