﻿@model AtaTask.UI.Models.ViewModels.ViewModel

@if (Model.PageType == AtaTask.UI.Custom.PageType.List)
{
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @Model.PageTitle
        </h1>
        <div class="pull-right">
            <a class="btn bg-blue" href="@Url.Action("Create")">
                <i class="fa fa-plus-square"></i>
                New Contract
            </a>
        </div>
    </div>
}
else if (Model.PageType == AtaTask.UI.Custom.PageType.CreateOrEdit)
{
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @Model.PageTitle
        </h1>
        <div class="pull-right">
            <button class="btn btn-default">
                <i class="fa fa-arrow-circle-left"></i>&nbsp;
                <a href="@Url.Action("Index")">Back to list</a>
            </button>
            <a class="btn bg-green" id="contracts-save-button"
               data-target-form="contracts-save-form"
               onclick="submit_form(event);"
               href="#">
                <i class="fa fa-save"></i>
                Save
            </a>
        </div>
    </div>
}
else if (Model.PageType == AtaTask.UI.Custom.PageType.Delete)
{
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @Model.PageTitle
        </h1>
        <div class="pull-right">
            <button class="btn btn-default">
                <i class="fa fa-arrow-circle-left"></i>&nbsp;
                <a href="@Url.Action("Index")">Back to list</a>
            </button>
            <a class="btn btn-danger" id="contracts-remove-button"
               data-target-form="contracts-remove-form"
               onclick="remove(event)"
               href="#">
                <i class="fa fa-remove"></i>
                Remove
            </a>
        </div>
    </div>
}
