﻿@model AtaTask.UI.Models.ViewModels.Contracts.ContractsCreate_ViewModel

@{
    ViewBag.Title = Model.PageTitle;
}
<div id="positions-create">
    @Html.Partial("_Top", Model)

    @using (Html.BeginForm("Save", "Contracts", FormMethod.Post, new { id = "contracts-save-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Contract.Id, htmlAttributes: new { Name = "Id" })
        <div class="content">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Enter contract informations</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-horizontal">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Contract Number</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.Contract.ContractNumber, new { Name = "ContractNumber", @class = "form-control", placeholder = "Enter contract number" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Contract Date</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.Contract.ContractDate, new { Type = "date", Name = "ContractDate", @class = "form-control", placeholder = "Enter contract date", Value = Model.Contract.ContractDate.ToString("yyyy-MM-dd") })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Salary</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.Contract.Salary, new {Type="number",  Name = "Salary", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Department</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.Contract.Department, new { Name = "Department", @class = "form-control", placeholder = "Enter department" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Position</label>
                                            <div class="col-sm-9">
                                                @Html.DropDownList("PositionId", Model.Positions, "Select position", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

